body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}
header {
    background: #b30000;
    color: white;
    padding: 15px;
    text-align: center;
}
.container {
    padding: 20px;
}
.product {
    background: white;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}
.product button {
    background: #b30000;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}
.main-image {
    width: 100%;
    border-radius: 10px;
}
